<!doctype html>
<html ng-app="myApp">

<style>
table, th, td {
   border: 1px solid black;
}

    .status_free {
        background: #ffffff;
    }
    .status_waiting {
        background: #00cc00;
    }
    .status_acive {
        background: #00cc00;
    }
    .status_closed {
        background: #8c8c8c;
    }


    .print_talon_button {
        width: 200px;
        margin: 20px;
    }
    
    
    .data_block {
        border: 3px solid green;
    } 
    
    .data_table {
        margin: auto;
        text-align: center;
        border: 3px solid green;
        padding: 10px;
    }

    .bottom_left {
        float: left;
        margin: auto;
        border: 3px solid green;
        padding: 10px;
    }

    .bottom_right {
        float: right;
        margin: auto;
        border: 3px solid green;
        padding: 10px;
    }

</style>
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript">
        var myApp = angular.module('myApp', []);
        myApp.controller('phoneController', function ($scope) {

            $scope.talon = [];
            $scope.talon[0] = {

                time: '8:00',

                status: 'free'
            }
        });


      


    </script>
</head>
<body>
    <div ng-controller="phoneController">
        <p>время: {{talon[0].time}}</p>
        <p>status: {{talon[0].status}} $</p>

    </div>

    <h3>@ViewBag.Message</h3>
    <h3>@ViewBag.Message17</h3>

    <div class="data_block">
        <table class ="data_table">
            <th>Период</th>
            @for (var j = 0; j < @ViewBag.talonsInPeriod; j++)
            {
                <th>@(j + 1)</th>
            }
            @for (var i = 0; i < @ViewBag.timePeriods; i++)
            {
                <tr>

                    <td>@ViewBag.talons[i * @ViewBag.talonsInPeriod]["period"]</td>


                    @for (var j = 0; j < @ViewBag.talonsInPeriod; j++)
                    {
                        var talon = @ViewBag.talons[i * @ViewBag.talonsInPeriod + j];

                        var talon_number = talon["number"];

                        var cl = "";


                        <td class="@cl">@talon_number</td>
                    }
                </tr>
            }
        </table>
    </div>
    <div class="bottom_left">
        
        @Html.ActionLink("Талон раньше времени", "About/btn_click/0", "Home")
        @Html.ActionLink("Талон вовремя", "About/btn_click/1", "Home")
        @Html.ActionLink("Талон с опазданием", "About/btn_click/2", "Home")

    </div>

    <div class="bottom_right">
        right
    </div>

</body>
</html>
