<!doctype html>
<html ng-app="myApp">

<style>
table, th, td {
   border: 1px solid black;
}

    .status_free {
        background: #ffffff;
    }
    .status_waiting {
        background: #00cc00;
    }
    .status_acive {
        background: #ff6a00;
    }
    .status_closed {
        background: #8c8c8c;
    }


    .print_talon_button {
        width: 200px;
        margin: 20px;
    }
    
    
    .data_block {
        border: 3px solid green;
    } 
    
    .data_table1 {
        margin: auto;
        text-align: center;
        border: 3px solid green;
        padding: 10px;
    }

    .bottom_left {
        float: left;
        margin: auto;
        border: 3px solid green;
        padding: 10px;
    }

    .bottom_right {
        float: right;
        margin: auto;
        border: 3px solid green;
        padding: 10px;
    }

</style>
<head>
    <meta charset="utf-8">

    
    <script>
        function success(data) {
            var json = $.parseJSON(data.responseText);
            alert(json.someProperty);
        }

        function send_btn_click(btn_idx) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Laboratory/DeviceApi/",
                dataType: "json",
                data: JSON.stringify({ "signal_sender": "John", "signal_name": "btn_click", "signal_param": btn_idx }),
                //success: function (data) { alert(data.result + "," + data.result_descr); }
                success: function (data) { location.reload(); }
                
            });
        }

        function print_talon(talon_number, talon_date) {

        }

        function print_next_talon(period_number) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Laboratory/AjaxApi/",
                dataType: "json",
                data: JSON.stringify({ "signal_name": "btn_click", "signal_param": period_number }),
                success: function (data)
                {
                    location.reload();
                    if (data.result == "NEXT_TALON_OK")
                        print_talon(data.number, data.print_date);
                    else
                        alert("Ошибка выдачи талона: " + data.result_descr);
                }

            });
        }
    </script>


</head>
<body>
    <!--
    <h3>@ViewBag.Message</h3>
    <h3>@ViewBag.Message17</h3>
        -->

    <h3>Электронная очередь лаборатории забора крови</h3>




    <div >
        <table class ="data_table">
            <th>Период</th>
            @for (var j = 0; j < @ViewBag.talonsInPeriod; j++)
            {
                <th>@(j + 1)</th>
            }
            @for (var i = 0; i < @ViewBag.timePeriods; i++)
            {
                <tr>

                    <td> <input type="button" onclick='print_next_talon(@i)' value='@ViewBag.talons[i * @ViewBag.talonsInPeriod]["period"] ' />  </td>


                    @for (var j = 0; j < @ViewBag.talonsInPeriod; j++)
                    {
                        var talon = @ViewBag.talons[i * @ViewBag.talonsInPeriod + j];

                        var talon_number = talon["number"];
                        var talon_status = talon["status"];
                        var cl = "";
                        if (talon_status == 0)
                            cl = "status_free";
                        if (talon_status == 1)
                            cl = "status_waiting";
                        if (talon_status == 2)
                            cl = "status_acive";
                        if (talon_status == 3)
                            cl = "status_closed";


                        <td class="@cl">@talon_number</td>
                    }
                </tr>
            }
        </table>
        <p>Активные талоны:</p>
        @foreach (var active_talon in @ViewBag.active_talons)
        {
            if (@active_talon["status"] == 2)    //активные, вызов к лаборанту
            {
                @(active_talon["laborant"] +": "+ active_talon["number"])<br />
            }
        }

        <p>Очередь талонов:</p>
        @foreach (var active_talon in @ViewBag.active_talons)
        {
            if (@active_talon["status"] == 1)    //активные, вызов к лаборанту
            {
                @(active_talon["number"]+ " ")
            }
        }
        <br />


        <input type="button" onclick="send_btn_click(1)" value="btn0_click" />
        <input type="button" onclick="send_btn_click(2)" value="btn1_click" />
        <input type="button" onclick="send_btn_click(3)" value="btn2_click" />
    </div>
    

</body>
</html>
